@import '../../common/css/common.less';

@iconFontSize: 32px;

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  width: 100%;
  height: @headerHeight;
  & i {
    font-size: @iconFontSize;
  }
  .list-detail-left {
    width: 80%;
  }
}
